body{
    background-color: #336E7B !important;
    color: #FFFFFF !important;
}

.ui.grid:nth-child(1){
    position: relative;
    top:10%;
}

.question{
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 2em;
}

.ui.answer.row.button{
    background-color: #26C281 !important;
    width: 105%;
    height: 10em;
    box-shadow: 0 10px 0px rgba(77, 175, 124, 0.5) !important;
}

.answer>p{
    margin: auto;
    color: #FFFFFF;
    font-size: 1.2em;
}

p{
    padding: 0.4em; !important;
}

.selected{
    background: #26C281 !important;
    box-shadow: 0 10px 0px rgba(77, 175, 124, 0.5) !important;
    color: #EEEEEE !important;
}

.hide{
    display: none !important;
}

div.background{
    height: 50px;
    width: 50px;
    display: table;
    text-align: center;
}

.background>p{
    color: #FFFFFF;
    font-size: 2.8em;
    display: table-cell;
    vertical-align: middle;
}

.content.alternative{
    font-size: 1.3em !important;
}

.ranking{
    /*padding-top: 5% !important;*/
}

.game.button{
    width: 23em;
    background-color: #E4F1FE;
    color: #34495E;
    margin: 1% 0 2% 2%;
    margin-bottom: 2em;
    font-size: 2em;
}

.game.start.button{
    line-height: 5em;
    box-shadow: 0 10px 0px rgba(218, 223, 225, 0.5);
    background-color: #E4F1FE;
    color: #34495E;
    margin-bottom: 2em;
}

.game.ranking.button{
    line-height: 5em;
    box-shadow: 0 10px 0px rgba(37, 116, 169, 0.5);
    background-color: #1E8BC3;
    color: #EEEEEE;
}

.game.category.button{
    box-shadow: 0 10px 0px rgba(191, 191, 191, 0.5);
    background-color: #ECF0F1;
    color: #2C3E50;
    margin-bottom: 2em;
}