body{
    background-color: #336E7B !important;
    color: #FFFFFF !important;
}

.ui.grid:nth-child(1){
    position: relative;
    top:10%;
}

.question{
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 2em;
}

.ui.answer.row.button{
    background-color: #26C281 !important;
    width: 105%;
    height: 10em;
    box-shadow: 0 10px 0px rgba(77, 175, 124, 0.5) !important;
}

.answer>p{
    margin: auto;
    color: #FFFFFF;
    font-size: 1.2em;
}

p{
    padding: 0.4em; !important;
}

.selected{
    background: #26C281 !important;
    box-shadow: 0 10px 0px rgba(77, 175, 124, 0.5) !important;
    color: #EEEEEE !important;
}

.hide{
    display: none !important;
}

div.background{
    height: 50px;
    width: 50px;
    display: table;
    text-align: center;
}

.background>p{
    color: #FFFFFF;
    font-size: 2.8em;
    display: table-cell;
    vertical-align: middle;
}

.content.alternative{
    font-size: 1.3em !important;
}

.result{
    margin: 4em 0em 2em 0em;
}

.result, .score{
    font-size: 5em;
}

.game.button{
    width: 23em;
    background-color: #E4F1FE;
    color: #34495E;
    margin: 1% 0 2% 2%;
    margin-bottom: 2em;
    font-size: 2em;
}

.game.start.button{
    line-height: 5em;
    box-shadow: 0 10px 0px rgba(218, 223, 225, 0.5);
    background-color: #E4F1FE;
    color: #34495E;
    margin-bottom: 2em;
}

.game.ranking.button{
    line-height: 5em;
    box-shadow: 0 10px 0px rgba(37, 116, 169, 0.5);
    background-color: #1E8BC3;
    color: #EEEEEE;
}

.game.category.button{
    box-shadow: 0 10px 0px rgba(191, 191, 191, 0.5);
    background-color: #ECF0F1;
    color: #2C3E50;
    margin-bottom: 2em;
}


.animation{
    /*opacity: 0;*/
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.asset{
    position: absolute;
}

.brush{
    top:-46%;
    width: 106vw;
    height: auto;
    left: calc(50% - 53vw);
}

.message{
    width: 30vw;
    height: auto;
    left: calc(50% - 15vw);
    top: 17%;
}


.palm{
    width: auto;
    height: 113vh;
    z-index: 1;
}

.leaf{
    width: auto;
    height: 60vh;
    z-index: 0;
}

#back-center-bottom{

}

#back-center-right{
    height: 55vh;
    left: 45%;
    bottom: -12%;
}

#back-center-left{
    height: 61vh;
    left: -16%;
    top: -25%;
}

#back-left-leaf{
    top: 8%;
    height: 38vh;
    left: -6%;
}

#leaf-center{
    left: 40%;
    bottom: -27%;
    z-index: 2;
}

#palm-bottom-right{
    right: -4%;
    bottom: -41%;
    z-index: 2;
}

#palm-top-right{
    right: -2%;
    top: -21%;
    z-index: 0;
}

#palm-left{
    left: -7%;
}

#particles{
    left: -20%;

}

#message{
    width: auto;
    height:30vh;
    left: 35%;
    top:calc(50% - 15vh);
    opacity: 0;
    z-index: 4;
}